<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>WHY FIFLPY?</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="animate-charcter">WHY FIFPLY?</h3>
            </div>
        </div>
    </div>

        <div>
            <div class=" d-flex justify-content-end">
                <a class="btn btn-primary" href="/dashboard">BACK TO DASHBOARD</a>
                <a class="btn btn-primary" href="/inbox">INBOX</a>
                <a class="btn btn-primary" href="/logout">LOGOUT</a>     
            </div>
        </div>
        <div id="imagess">
        <img src="static/images/fifply_stats1.png" style="width:700px;height:500px;">
        <img src="static/images/fifply_stats2.png" style="width:600px;height:500px;">
        </div>


    <!-- JavaScript Bundle with Popper -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="static/js/script.js"></script>
</body>
</html>